* {
    margin: 0;
    
}
body{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
@font-face {
    font-family: 'Lemon';
    font-style: normal;
    font-weight: 400;
    src: url(./LEMONMILK-Medium.otf);
}

#todo {
    background-color: #F3F7EC;
    grid-column: 1 / 1;
    grid-row: 1 / 8;
    overflow: scroll;
}

#navbar {
    background-color: #006989;
    overflow: hidden;
    grid-column: 2 / 5;
    grid-row: 1 / 1;
}

#projects {
    background-color: #fff;
    grid-column: 2/5;
    grid-row: 2/7;
}


/* To do section */

.title {
    text-align: center;
    color: #E88D67;
    font-family: 'Lemon';
    margin-top: 20px;
}

.description {
    text-align: center;
    color: #E88D67;
    font-family: 'Lemon';
    margin-top: 10px;
    font-size: 15px;
    padding-bottom: 20px;
}

/*To do Logic section */

.todoLabel {
    margin-left: 1rem;
    font-family: 'Lemon';
    color: #E88D67;
    font-size: 13px;
}

#todoInput {
    padding: 3px 8px;
    margin-bottom: 20px;
}

.addButton {
    margin-left: 5px;
    background-color: #006989;
    border: none;
    color: white;
    padding: 5px 8px;
    text-decoration: none;
    cursor: pointer;
}

.todoCard {
    padding: 5px;
    margin: auto;
    margin-bottom: 20px;
    width: 200px;
    height: 40px;
    background-color: #006989;
    padding-left: 10px;
    padding-right: 10px;
}
 
.todoInfo {
    font-family: 'Lemon';
    color: #fff;
}

.todoDelete {
    float: right;
    width: 30%;
    margin-left: 5px;
    background-color: #E88D67;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.todoComplete {
    align-items: center;
    font-family: 'Lemon';
    color: #fff;
    font-size: 10px;
}

.todoCheckmark {
    margin-left: 5px;
    align-items: center;
    justify-content: center;
}

/* test */

.hidden {
    display: none;
  }
  
  #form-container {
    margin-top: 20px;
  }
  
  #data-container {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }